{% extends "page-wrapper.html"%}

{% block body %}
<div class="container" style="">
    <div class="row login-register">
        <div class="col-md hide-mobile">
            <div class="logo">
                <img src="/static/img/uv-logo-lg.png">
            </div>
        </div>
        <span class="divider hide-mobile"></span>
        <div class="col-md">
            <form class="lr-form" action="" method="post">
                <h1 class="text-center">Login</h1>
                <input name="email"
                       id="login-email"
                       type="text"
                       class="icon-at"
                       placeholder="Username">
                
                <input name="password"
                       id="login-password"
                       type="password"
                       class="icon-ellipsis"
                       placeholder="Password">
                <input name="login-submit"
                       id="login-submit"
                       type="submit"
                       class=""
                       value="Login">
            </form>
        </div>
    </div>
</div>


{% endblock%}