<!DOCTYPE html>
<html>
    <head>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <link xmlns="http://www.w3.org/1999/xhtml" rel="shortcut icon" type="image/png" href="/assets/img/badge-sm.png"/>
        <title>UniVerse | {{ title }}</title>
        <link rel= "stylesheet" type= "text/css" href= "/css/main.css">
    </head>
    <body>
        <div class="navbar-wrapper">
    <div class="container">
        <nav class="navbar">
            <ul class="navbar-left col-lg">
                <li>
                    <a href="/" class="brand"></a>
                </li>
                <li class="navbar-search">
                    <form action="/search/" method="get">
                    
                    <input type="search" 
                           name="search" 
                           id="search-bar" 
                           class="icon-search"
                           placeholder="Search UniVerse">
                        
                    </form>
                </li>
            </ul>
            <ul class="navbar-right col-sm">
                
                <!--
                {% if session['logged_in'] %}
                <!-- if LOGGED_IN ->
                <li class="nav-item right">
                    <a href="#">
                        {{ session['username'] }}
                        <img src="/static/uploads/{{ session['user_image'] }}">
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">
                            <a href="/settings">Settings  ø</a>
                        </li>
                        <li class="dropdown-item dark">
                            <a href="/logout">Logout <</a>
                        </li>
                    </ul>
                </li>
                
                <!-- ENDIF ->
                {% else %} -->
                
                <li class="nav-item">
                    <a href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a href="/signup">Sign Up</a>
                </li>
                <!--
                {% endif %}
                -->
                
            </ul>
        </nav>
    </div>
</div>
        
        <div class="view-wrapper" style="margin-top: 60px;">
            
            <div class="container" style="">
                <div class="row artist-page">
                    <div class="col-lg">
                        <div class="artist">
                            <h1 data-bind='text: name'></h1>

                            <p data-bind='text: bio'></p>
                            <a href="/edit-artist/?artist={{ artist['id'] }}">Edit</a>

                            <a href="/add-album/?artist={{ artist['id'] }}">Add Album</a>
                            </div>
                    </div> 

                    <span class="divider hide-mobile"></span>
                    <div class="col-sm">
                        <div class="artist-meta">
                            <div data-bind="if: members">
                                <h5 class="label">Members</h5>

                                <ul data-bind="foreach: members">
                                    <li data-bind='text: name'></li>
                                </ul>
                            </div>
                            
                            <div data-bind="if: genre">
                                <h5 class="label">Genre</h5>
                                <p data-bind='text: genre'></p>
                            </div>
                            
                            <!--div data-bind="if: country">
                                <h5 class="label">Country</h5>
                                <p data-bind='text: country'></p>
                            </div-->
                            
                            <div data-bind="if: year">
                                <h5 class="label">Year Formed</h5>
                                <p data-bind='text: year'></p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl">
                        <input type="search"
                               onkeyup="filter(this)"
                               name="filter-artist" 
                               id="artist-filter-bar" 
                               class="icon-search"
                               placeholder="Filter Songs/Albums">
                    </div>
                </div>

                {% for album in albums %}
                <div class="row flip">
                    <div class="album" id="album{{ album['id'] }}">
                        <div class="col-sm">
                            <img class="artwork" 
                                 src="/static/uploads/{{ album['artwork'] }}">
                            <div class="album-meta">
                                <h3 class="title">{{ album['title'] }} <br/> <span class="sub">{{ artist['name'] }}</span></h3>
                                {% if album['year']%}
                                <h5>Year Released</h5>
                                <p>{{ album['year'] }}</p>
                                {% endif %}

                                {% if album['genre']%}
                                <h5>Genre</h5>
                                <p>{{ album['genre'] }}</p>
                                {% endif %}
                                <a href="/edit-album/?album={{ album['id'] }}&artist={{ artist['id'] }}">Edit</a>
                            </div>
                        </div>
                        <div class="col-lg">
                            <div class="tracklist">
                                <ul>
                                    {% for track in album['tracklist'] %}
                                    <li class="track"><a href="/song/?song={{ track['id'] }}">{{ track['track_no'] }}. {{ track['title'] }}</a></li>
                                    {% endfor %}

                                </ul>
                            </div>
                            <a href="/add-song/?album={{ album['id'] }}" class="btn outline">Add Song To Album</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.3.0.js"></script>
        <script src="main.js"></script>
    </body>
</html>
