span.divider{
    position: absolute;
    display: inline-block;
    overflow: auto;
    height: 100%;
    width: 1px;
    margin-left: -1.5px;
    
    background-color: $accent;
    
}

.hide-mobile{
    @media(max-width: 580px){
        display: none !important;
    }
}

img{
    width: 100%;
    
    &.artwork{
        margin: 10px 0;
        box-shadow: 0 0 5px $dark;
    }
}

form{
    h2{
        margin-bottom: -5px;
    }
    
    ul{
        list-style: none;
        padding: 0
    }
}