<!DOCTYPE html>
<html>
  <head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <link xmlns="http://www.w3.org/1999/xhtml" rel="shortcut icon" type="image/png" href="/assets/img/badge-sm.png"/>
    <title>UniVerse | {{ title }}</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
  </head>
  <body>
      {% include "components/navbar.html" %}
    <div class="view-wrapper" style="margin-top: 60px;">
        
        {% with messages = get_flashed_messages() %}
        
        {% if messages %}
        
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissable" 
                     role="alert">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}
      </div>
      {% include "components/footer.html" %}
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="{{ url_for('static',filename='js/ui.js') }}"></script>
  </body>
</html>
